body h1{
color: chartreuse;
display: flex;
justify-content: center;
}
body h2{
color: aquamarine;
display: flex;
justify-content: center;

}

body h3{
    color: aquamarine;
    display: flex;
    justify-content: center;
    
    }
    body h4{
        color: aquamarine;
        display: flex;
        justify-content: center;
        
        }

        div [class="carousel-item active"] img{

       width: 100vh;
       height: 100vh;

        }